APP_NAME=TokoIn
APP_ENV=production
APP_KEY=base64:wdrCjZZQdOdNV+r+B++wG4mpriNNNOomQKa87yygTYw=
APP_DEBUG=true
APP_URL=https://toko-in-ezg2g3tne-damars-projects-b5417cb6.vercel.app

APP_LOCALE=en
APP_FALLBACK_LOCALE=en

# === Database Supabase PostgreSQL ===
DB_CONNECTION=pgsql
DB_HOST=aws-1-ap-southeast-1.pooler.supabase.com
DB_PORT=6543
DB_DATABASE=postgres
DB_USERNAME=postgres.ztinhvhokhhkegiaygua
DB_PASSWORD=b85D*5xmWJz-kw/

# Setting penting untuk Vercel (Serverless)
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_CONNECTION=sync
CACHE_STORE=array
BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local

LOG_CHANNEL=errorlog
LOG_LEVEL=error

# Supabase Client (Frontend)
VITE_SUPABASE_URL=https://ztinhvhokhhkegiaygua.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_vr6GY247UNOH8yATv7NGwQ_7_5TMc1_
